<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.taptalk.meettalk">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.MANAGE_OWN_CALLS" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.USE_FULL_SCREEN_INTENT" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:largeHeap="true"
        android:requestLegacyExternalStorage="true">

<!--        <service-->
<!--            android:name=".helper.MeetTalkConnectionService"-->
<!--            android:exported="true"-->
<!--            android:permission="android.permission.BIND_TELECOM_CONNECTION_SERVICE">-->
<!--            <intent-filter>-->
<!--                <action android:name="android.telecom.ConnectionService" />-->
<!--            </intent-filter>-->
<!--        </service>-->

        <service
            android:name=".helper.MeetTalkIncomingCallService"
            android:exported="true">
        </service>

        <service
            android:name=".helper.MeetTalkOngoingCallService"
            android:exported="true"
            android:stopWithTask="false">
        </service>

        <activity
            android:name=".activity.MeetTalkIncomingCallActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"  />

        <activity
            android:name=".activity.MeetTalkCallActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen" />

    </application>

</manifest>